<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>home</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/allProduct">All Product</a></li>
            <li><a href="/myCard">My Card</a></li>
        </ul>
    </header>
    <main>
        <form action="/result">
        <label for="">Brand<input type="text" name="brand"></label>
        <label for="">From<input type="number" name="from"></label>
        <label for="">To<input type="number" name="to"></label>
        <input type="submit" value="Get Data">
        
        </form>
    </main>

    <footer>
        &copy;Mousa
    </footer>
</body>
</html>